#logo{
  color: red
}

.user{
  display: inline-block;
  width: 5vw;
  height: 5vw;
  margin: 40px;
  border-radius: 10px;
  color: black;
  text-align: center;
  padding: 5vw;
  font-size: 2vw;
}

img{
  width: 20vw;
  height: 20vw;
  border-radius: 10px;
}

.movie{
  display: inline-block;
  margin: 40px;
}